body {
  background-color: #222;
  color: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  font-family: 'Roboto Slab', serif;
}

/* Remove  scroll bar from editors */
.ace_scrollbar {
  display: none !important;
}

textarea {
  opacity: 0;
}

.copyAlert {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  opacity: 0;
}

.flash {
  -webkit-animation: flash 500ms;
  animation: flash 500ms;
}

@-webkit-keyframes flash {
  0% {
    background-color: #FFF;
    opacity: 0.3;

    100% {
      background-color: #FFF;
    }
  }
}

@media only screen and (min-width: 0px) {
  h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: -30px;
  }

  #input, #output {
    margin-left: 5px;
    height: 86%;
  }

  #container {
    margin-left: 5px;
    margin-top: 3em;
    width: 99%;
    height: 100vh;
    display: grid;
    grid-template-columns: 45% 10% 45%;
  }

  /* editor placeholders */
  .emptyMessage, .outputMessage {
    font-size: 1.4em;
    position: absolute;
    top: 230px;
    padding: 0 10px;
    z-index: 9;
    opacity: 0.3;
    color: #FFF;
  }

  .outputMessage {
    font-size: 2em;
  }

  /* Button style */
  #control {
    text-align: center;
    margin-left: 5px;
    position: relative;
    min-height: 100vh;
  }

  #copy, #run {
    width: 85%;
    height: 10vh;

    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #FFF;
  }

  #copy {
    background-color: #FF5073;
  }

  #copy:hover {
    background-color: #FF355E;
  }

  #run {
    background-color: #42BCF2;
  }

  #run:hover {
    background-color: #00ABF6;
  }

  /* Counter style */
  #urlCounterContainer {
    font-size: 1.3em;
    margin: 5px;
    margin-top: 50px;
    margin-bottom: 100px;
    background: rgba(34, 34, 34, 0.1)
  }

  #urlCounterContainer p {
    margin: 0;
    padding: 5px;
  }

  /* End counter style */
  /* Personal Info style */
  #devDetails {
    font-size: 0.8em;
    position: absolute;
    bottom: 0;
    margin-bottom: 100px;
  }

  #name {
    color: #ff5c00;
    font-size: 1.2em;
    margin-top: -12px;
    margin-bottom: -14px;
  }

  #email a {
    color: #ff5c00;
    font-size: 1.2em;
  }
}

/*@media*/
@media only screen and (min-width: 900px) {
  #copy, #run {
    font-size: 2em;
    color: #FFF;
  }

  #urlCounterContainer {
    font-size: 1.5em;
  }
}
/*@media*/
