body {
  background-color: #222;
  color: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  font-family: 'Roboto Slab', serif;
}

/* Remove  scroll bar from editors */
.ace_scrollbar {
  display: none !important;
}

textarea {
  opacity: 0;
}

.copyAlert {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  opacity: 0;
}

.flash {
  -webkit-animation: flash 500ms;
  animation: flash 500ms;
}

@-webkit-keyframes flash {
  0% {
    background-color: #FFF;
    opacity: 0.3;

    100% {
      background-color: #FFF;
    }
  }
}

/* Add color pop to url counters when change */
.youtubeCounterFlash {
  animation-name: youtubeCounterFlash;
  animation-duration: 500ms;
}

@keyframes youtubeCounterFlash {
  0% {
    color: #FFF
  }

  25% {
    color: #FF0000
  }

  50% {
    color: #FF0000
  }

  100% {
    color: #FFF
  }
}

.vimeoCounterFlash {
  animation-name: vimeoCounterFlash;
  animation-duration: 500ms;
}

@keyframes vimeoCounterFlash {
  0% {
    color: #FFF
  }

  25% {
    color: #0088CC
  }

  50% {
    color: #0088CC
  }

  100% {
    color: #FFF
  }
}

#urlCounterContainer p {
  margin: 0;
  padding: 5px;
}

/* Add effects on hover */
#youtubeCounter {
  transition: color 400ms;
}

#youtubeCounter:hover {
  color: #FF0000;

}

#vimeoCounter {
  transition: color 400ms;
}

#vimeoCounter:hover {
  color: #0088CC;
}

/* End */
@media only screen and (min-width: 0px) {
  h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: -30px;
    font-size: 1.6em;
  }

  #input, #output {
    margin-left: 5px;
    height: 86%;
  }

  #container {
    margin-left: 5px;
    margin-top: 3em;
    width: 99%;
    height: 100vh;
    display: grid;
    grid-template-columns: 45% 10% 45%;
  }

  /* editor placeholders */
  .emptyMessage, .outputMessage1, .outputMessage2  {
    font-size: 1.4em;
    position: absolute;
    top: 80px;
    padding: 0 10px;
    z-index: 9;
    opacity: 0.5;
    color: #FFF;
  }
.outputMessage2{
  top: 170px;
}


  .outputMessage1,.outputMessage2 {
    font-size: 1.4em;
    opacity: 0.8;
  }

  /* Button style */
  #control {
    text-align: center;
    margin-left: 5px;
    position: relative;
    min-height: 100vh;
  }

  #copy, #run {
    width: 85%;
    height: 10vh;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #FFF;
  }

  #run {
    background-color: #9B20FF;
    border-color: #9B20FF;
  }

  #run:hover {
    background-color: #8D00FF;
  }

  #copy {
    background-color: #FF2067;
    border-color: #FF2067;
  }

  #copy:hover {
    background-color: #FF0051;
  }

  /* Counter style */
  #urlCounterContainer {
    font-size: 1.3em;
    margin: 5px;
    margin-top: 50px;
    margin-bottom: 100px;
    background: rgba(34, 34, 34, 0.1)
  }


  /* End counter style */
  /* Personal Info style */
  #devDetails {
    font-size: 0.8em;
    position: absolute;
    bottom: 0;
    margin-bottom: 100px;
  }

  #name {
    color: #ff5c00;
    font-size: 1.2em;
    margin-top: -12px;
    margin-bottom: -14px;
  }

  #credit {
    margin-top: -12px;
    color: #ff5c00;
    font-size: 1.1em;
  }

  #email a {
    color: #ff5c00;
    font-size: 1.2em;
    transition: color 500ms;
  }

  #email a:hover {
    color: #00ff85;
  }

  /* flip email icon */
  .fa-envelope {
    transition-property: transform;
    transition-duration: 100ms;
  }

  .fa-envelope:hover {
    transform: rotateY(-180deg);
  }
}

@media only screen and (max-width: 620px) {
  #devDetails {
    display: none
  }
}

/*@media*/
@media only screen and (min-width: 900px) {
  #copy, #run {
    font-size: 2em;
    color: #FFF;
  }

  #urlCounterContainer {
    font-size: 1.5em;
  }

  h1 {
    font-size: 2em;
  }
}

/*@media*/
