body {
  background-color: #222;
  color: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

#input, #output {
  height: 80%;
}

#container {
  margin-top: 3em;
  width: 100%;
  height: 700px;
  display: grid;
  grid-template-columns: 45% auto 45%;
}



#generate, #copy {
  width:90%;
  border-radius: 5px;
  margin-bottom: 15px;
}

#buttons {
  text-align: center;
  margin-top: 180px;
}

/* Remove  scroll bar from editors */
.ace_scrollbar {
  display: none !important;
}
